@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap");

body {
  background-color: #54796e;
  margin: 0;
  padding: 0;
}
.paper {
  min-height: 470px;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

.App .horizontal {
  position: absolute;
  top: 120px;
  color: #bae0b6;
  height: 2px;
  opacity: 0.4;
  box-shadow: 0 30px 2px #bae0b6, 0 60px 2px #bae0b6, 0 90px 2px #bae0b6,
    0 120px 2px #bae0b6, 0 150px 2px #bae0b6, 0 180px 2px #bae0b6,
    0 210px 2px #bae0b6, 0 240px 2px #bae0b6, 0 270px 2px #bae0b6, 0 300px 2px #bae0b6;
  width: 99.7%;
}

.App .vertical {
  position: absolute;
  opacity: 0.5;
  height: 460px;
  width: 2px;
  background-color: #dbb1b8;
  border-left: 1px solid #dbb1b8;
  margin-left: 70px;
}

.App h2 {
  position: absolute;
  z-index: 10;
  font-family: "Satisfy", cursive;
  transform: rotate(-5deg);
  font-size: 3rem;
  color: rgb(217, 141, 141);
  opacity: 0.8;
  left: 30px;
  top: -30px;
}
.form {
  z-index: 100;
  margin-top: 70px;
  margin-left: 73px;
  height: 50px;
  width: 160px;
  border-radius: 10px;
  border: none;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
}
.todoItem {
  margin-left: 43px;
  display: flex;
  align-items: center;
}

.todoList {
  margin-top: 10px;
  margin-left: 55px;
}
.completed {
  font-family: "Open Sans", sans-serif;
  color: rgb(72, 99, 149);
}
.simple {
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 94, 165);
}
.enter-icon {
  font-size: 1.6rem;
  color: rgb(54, 197, 59);
}
