@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #54796e;
}

.paper {
  position: relative;
  margin: auto;
  margin-top: 40px;
  min-height: 600px;
  width: 60%;
  max-width: 650px;
  min-width: 420px;
}

.App .horizontal {
  position: absolute;
  top: 120px;
  height: 2px;
  width: 99.7%;
  color: #bae0b6;
  opacity: 0.4;
  box-shadow: 0 30px 2px #bae0b6, 0 60px 2px #bae0b6, 0 90px 2px #bae0b6,
    0 120px 2px #bae0b6, 0 150px 2px #bae0b6, 0 180px 2px #bae0b6,
    0 210px 2px #bae0b6, 0 240px 2px #bae0b6, 0 270px 2px #bae0b6,
    0 300px 2px #bae0b6, 0 330px 2px #bae0b6, 0 360px 2px #bae0b6,
    0 390px 2px #bae0b6, 0 420px 2px #bae0b6;
}

.App .vertical {
  position: absolute;
  margin-left: 70px;
  height: 590px;
  width: 2px;
  background-color: #dbb1b8;
  opacity: 0.5;
}

.App h2 {
  position: absolute;
  z-index: 10;
  left: 30px;
  top: -30px;
  transform: rotate(-5deg);
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: rgb(217, 141, 141);
  opacity: 0.8;
}

.form {
  margin-top: 70px;
  margin-left: 73px;
}

.todoItem {
  margin-left: 43px;
  display: flex;
  align-items: center;
}

.todoList {
  margin-top: 10px;
  margin-left: 55px;
}

.completed {
  font-family: "Open Sans", sans-serif;
  color: rgb(72, 99, 149);
  text-decoration: line-through;
}

.simple {
  font-family: "Open Sans", sans-serif;
  color: rgb(56, 94, 165);
}

.enter-icon {
  font-size: 1.6rem;
  color: rgb(54, 197, 59);
}

.link {
  margin-top: 30px;
  color: rgb(184, 178, 178);
  text-align: center;
  justify-items: right;
  justify-self: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}

.link a {
  color: rgb(191, 186, 186);
}
